.fa-star{
    margin: 0.5em;
    font-size: 24px;
}

span{
    display: inline-block;
    margin:0.5em;
    background-color:lightslategray;
    width: 24px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
}

.card{
    margin: 0 auto;
    padding: 5px 10px 5px 10px;
    margin-top: 10px;
}

.selected{
    background-color: aquamarine;
    color: darkslategrey;
    cursor: not-allowed;
}

.used{
    background-color:lightcyan;
    color: darkslategrey;
    cursor: not-allowed;
}
.game-title{
    font-family: sans-serif;
    font-style: italic;
    color: crimson;
}